.styled
{
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	background-image: linear-gradient(to top left,
		rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .2) 30%,
		rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
	inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.styled:hover {
	background-color: rgba(255, 0, 0, 1);
}

.styled:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
	inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.container2
{
	height: 1500px;
	width: 5000px;
	background-color: blue;

}
#gameGrid {
width: 33%;
height: 33%;
background-color: white;
border: 10px black;
margin: auto;
margin-top: 2%;
margin-bottom:0%; 
margin-right: 2px;
margin-left: 2px;
text-align :center;
border-width:5px;
border-style:solid;
border-color: black;
border-spacing: 2px;
float: left;
}

.centre {

	text-align :center;
  
}
.titre 
{
	font-size : 100px;
	text-align: center;
	font-family: cursive;
}
.foot
{
	float-bottom;
}