body{
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(imageadmin.jpg);
	background-size: cover;
	background-position: center;
}

.login-center{
	background: rgba(211,211,211,0.4);
	border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
	padding: 30px;
	
}
.login-left{
	background: rgba(211,211,211,0.4);
	border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
	padding: 30px;
}

.login-right{
	background: rgba(211,211,211,0.6);
	border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
	padding: 30px;
}


.login-box{
	max-width: 700px;
	float: none;
	margin: 150px 0px 150px 620px;
}

.login-box2{
	max-width: 700px;
	float: none;
	margin: 150px auto;
}

.login-box3{
	height: 376px;
	max-width: 700px;
	float: none;
	margin: 150px 0px 100px 620px;

}


.login-box4{
	max-width: 700px;
	float: none;
	margin-top: 5px;

}
.login-center2{
	background: rgba(211,211,211,0.4);
	border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
	padding: 30px;
	
}

a.float-right{
  margin-top: 20px;
  margin-right: 270px;
  font-size: 20px;
  text-transform: uppercase;
  background: rgba(200,150,150,0.4);
  border-width: 3px;
  border-bottom-right-radius: : 5px;
  border-style: solid;
  border-color: rgba(200,50,50,0.8);
  color:#FF0000;
}

.form-control{
	background-color: #fff !important;
}

.mon-bouton {
	background-image: linear-gradient(to right, #EFEFBB 0%, #D4D3DD 51%, #EFEFBB 100%)
}
.mon-boutton:hover { 
	background-position: right center; 
}

h1{
	color: #fff !important;
	margin-top: 100px !important;
	text-align: center;
	text-transform: uppercase;
}

.action-left{
	max-width: 700px;
	float: none;
	background: rgba(211,211,211,0.4);
	border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
	padding: 40px;
	margin: 150px auto;
	
}

.action-box{
	max-width: 1000px;
	float: none;
	margin: 150px auto;
}

.mon-bouton {
	background-image: linear-gradient(to right, #EFEFBB 0%, #D4D3DD 51%, #EFEFBB 100%)
}
.mon-boutton:hover { 
	background-position: right center; 
}

